<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 文件输出格式 -->
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] -%-5level %logger{36} %msg%n" />

	<!-- 控制台 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>
	
	<root level="warn">
           <appender-ref ref="console" />
    </root>
    
     <logger name="com.naruto" level="info" additivity="false">
        <appender-ref ref="console"/>
    </logger>
    
</configuration>